# <center> Funções Pandas </center>

## Basic ToolBox  - Pandas I

In [1]:
import pandas as pd

## ``Series`` Pandas

* Array unidimensional com rótulos de eixo, oferece suporte à indexação baseada em números inteiros e em rótulos

In [2]:
# 1º Craindo uma pd.Series() com Strings como Indices e valores como elementos
ex_series_01 = pd.Series([1,2,3,4], index=['Num_01', 'Num_02', 'Num_03', 'Num_04'])
print(ex_series_01)

Num_01    1
Num_02    2
Num_03    3
Num_04    4
dtype: int64

In [3]:
# Buscando elemento na Series Pandas por meio da posição do indice
print(ex_series_01[0])
# Posição zero elemento valores um

1

In [4]:
# Buscando elemento por meio do index nomeado
print(ex_series_01['Num_01'])

1

In [5]:
# 2º Craindo Series com inteiros como Indices, renomendo os indices
ex_series_02 = pd.Series(['Num_01', 'Num_02', 'Num_03', 'Num_04'],  index=[1,2,3,4])
print(ex_series_02)

1    Num_01
2    Num_02
3    Num_03
4    Num_04
dtype: object

In [6]:
# Buscando pela posição um, não posssui posição zero
print(ex_series_02[1])
# Não busca pelo nome do indice, e sim o valor

Num_01

## ``values`` Pandas

* Retorna somente os valores

In [7]:
# Retornando os valores contidos na pd.Series()
print(ex_series_01.values)

[1 2 3 4]

In [8]:
# Retornando os valores contidos na pd.Series()
print(ex_series_02.values)

['Num_01' 'Num_02' 'Num_03' 'Num_04']

## ``index`` Pandas

* Retorna os indices

In [9]:
# Retornando os Indecies da pd.Series()
print(ex_series_01.index)

Index(['Num_01', 'Num_02', 'Num_03', 'Num_04'], dtype='object')

In [10]:
# Retornando os Indecies da pd.Series()
print(ex_series_02.index)

Index([1, 2, 3, 4], dtype='int64')

## <center> Operações Matemáticas com Series </center>

In [11]:
# Criando Series 01 para exemplificar
series01 = pd.Series([1, 2, 3], index=['Carne', 'Salada', 'Frutas'])
print(f'Series Pandas 01 :\n{series01}')

# Criando Series 02 para exemplificar
series02 = pd.Series([2, 3, 4], index=['Ovo', 'Salada', 'Frutas'])
print(f'\nSeries Pandas 02 :\n{series02}')

Series Pandas 01 :
Carne     1
Salada    2
Frutas    3
dtype: int64

Series Pandas 02 :
Ovo       2
Salada    3
Frutas    4
dtype: int64

## ``Soma`` entre ``Series`` Pandas

In [12]:
soma = series01 + series02
print(soma)

Carne     NaN
Frutas    7.0
Ovo       NaN
Salada    5.0
dtype: float64

## ``Subtração`` entre ``Series`` Pandas

In [13]:
sub = series01 - series02
print(sub)

Carne     NaN
Frutas   -1.0
Ovo       NaN
Salada   -1.0
dtype: float64

## ``Divisão`` entre ``Series`` Pandas

In [14]:
divsao = series01 / series02
print(divsao)

Carne          NaN
Frutas    0.750000
Ovo            NaN
Salada    0.666667
dtype: float64

In [15]:
divsao = (series01 / series02).round(2)
print(divsao)

Carne      NaN
Frutas    0.75
Ovo        NaN
Salada    0.67
dtype: float64

## ``Multiplicação`` entre ``Series`` Pandas

In [16]:
mult = series01 * series02
print(mult)

Carne      NaN
Frutas    12.0
Ovo        NaN
Salada     6.0
dtype: float64

## ``Soma`` a Series Pandas

In [46]:
# Visualização series01
print(series01,'\n')

# Somando todos os elementos em "series01"
print(f'A Soma de Todos os Elementos 01: {series01.sum()}')

Carne     1
Salada    2
Frutas    3
dtype: int64

A Soma de Todos os Elementos 01: 6

In [48]:
# Visualização series02
print(series02,'\n')

# Somando todos os elementos em "series02"
print(f'A Soma de Todos os Elementos 02: {series02.sum()}')

Ovo       2
Salada    3
Frutas    4
dtype: int64

A Soma de Todos os Elementos 02: 9

## ``Desvio Padrão`` na Series Pandas

In [49]:
# Visualização series01
print(series01,'\n')

# Obtem o Desvio Padrão dos elementos em "series01"
print(f'O Desvi Padrão dos Elementos 01: {series01.std()}')

Carne     1
Salada    2
Frutas    3
dtype: int64

O Desvi Padrão dos Elementos 01: 1.0

In [50]:
# Visualização series02
print(series02,'\n')

# Obtem o Desvio Padrão dos elementos em "series02"
print(f'O Desvi Padrão dos Elementos 02: {series02.std()}')

Ovo       2
Salada    3
Frutas    4
dtype: int64

O Desvi Padrão dos Elementos 02: 1.0

## ``Máximo`` da Series Pandas

In [51]:
# Visualização series01
print(series01,'\n')


# Obtem o elemento com o "maior valor na series01"
print(f'O Elemento de Maior Valor 01: {series01.max()}')

Carne     1
Salada    2
Frutas    3
dtype: int64

O Elemento de Maior Valor 01: 3

In [52]:
# Visualização series02
print(series02,'\n')


# Obtem o elemento com o "maior valor na series02"
print(f'O Elemento de Maior Valor 01: {series02.max()}')

Ovo       2
Salada    3
Frutas    4
dtype: int64

O Elemento de Maior Valor 01: 4

## ``Mínimo`` na Series Pandas

In [54]:
# Visualização series01
print(series01,'\n')

# Obtem o elemento de "menor valor na series01"
print(f'O Elemento de Menor Valor 01:  {series01.min()}')

Carne     1
Salada    2
Frutas    3
dtype: int64

O Elemento de Menor Valor 01:  1

In [55]:
# Visualização series02
print(series02,'\n')

# Obtem o elemento de "menor valor na series02"
print(f'O Elemento de Menor Valor 02:  {series02.min()}')

Ovo       2
Salada    3
Frutas    4
dtype: int64

O Elemento de Menor Valor 02:  2

## ``Contagem`` na Seires Pandas

In [59]:
# Visualização series01
print(series01,'\n')

# Obtem a "contagem de elementos" em series01
print(f'A Contagem Total de Eementos 01: {series01.count()}')

Carne     1
Salada    2
Frutas    3
dtype: int64

A Contagem Total de Eementos 01: 3

In [60]:
# Visualização series02
print(series02,'\n')

# Obtem a "contagem de elementos" em series02
print(f'A Contagem Total de Eementos 02: {series02.count()}')

Ovo       2
Salada    3
Frutas    4
dtype: int64

A Contagem Total de Eementos 02: 3

In [66]:
# Visualização series01
print(series01,'\n')

# Obtem a "contagem dos valores" em series01
print(f'A Contagem de Todos os Valores 01: \n{series01.value_counts()}')

Carne     1
Salada    2
Frutas    3
dtype: int64

A Contagem de Todos os Valores 01:
1    1
2    1
3    1
Name: count, dtype: int64

In [67]:
# Visualização series02
print(series02,'\n')

# Obtem a "contagem dos valores" em series02
print(f'A Contagem de Todos os Valores 02: \n{series02.value_counts()}')

Ovo       2
Salada    3
Frutas    4
dtype: int64

A Contagem de Todos os Valores 02:
2    1
3    1
4    1
Name: count, dtype: int64

## ``Únicos`` na Series Pandas

In [63]:
# Visualização series01
print(series01,'\n')

# Retorna os "valores exclusivos" na series01
print(f'Os Valores Únicos/Exclusivos 01: {series01.unique()}')

Carne     1
Salada    2
Frutas    3
dtype: int64

Os Valores Únicos/Exclusivos 01: [1 2 3]

In [64]:
# Visualização series02
print(series02,'\n')

# Retorna os "valores exclusivos" na series02
print(f'Os Valores Únicos/Exclusivos 02: {series02.unique()}')

Ovo       2
Salada    3
Frutas    4
dtype: int64

Os Valores Únicos/Exclusivos 02: [2 3 4]

##  <center> Filtro Comparativo entre Series Pandas </center>

In [38]:
# Visualização series01
print(series01,'\n')

# Obter quais elementos em "series01 maior que 2"
print(series01 > 2, )

Carne     1
Salada    2
Frutas    3
dtype: int64

Carne     False
Salada    False
Frutas     True
dtype: bool

In [40]:
# Visualização series01
print(series01,'\n')

# Obter o elemento de "series01 maior de 2"
print(series01[series01> 2])

Carne     1
Salada    2
Frutas    3
dtype: int64

Frutas    3
dtype: int64

In [44]:
# Visualização series01
print(series01,'\n')

# Obter os elementos de "series01 NÃO maior que 2"  
series01[~(series01 > 2)]

Carne     1
Salada    2
Frutas    3
dtype: int64

Carne     1
Salada    2
dtype: int64

In [68]:
# Visualização series02
print(series02,'\n')

# Obter os elementos de "series02 NÃO maior que 2"  
series02[~(series02 > 2)]

Ovo       2
Salada    3
Frutas    4
dtype: int64

Ovo    2
dtype: int64

In [87]:
# Visualização series01
print(f'\nSeries 01: \n\n{series01}','\n')

# Visualização series02
print(f'\nSeries 02: \n\n{series02}','\n')

# Comparando a existencia de elementos series01 contidos na series02
print(f'\nComparando os elementos na 01 contidos na 02:\n\n{series01.isin(series02)}')

Series 01:

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64


Series 02:

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64


Comparando Elementos na 01 contidos na 02:

Carne      False
Salada      True
Frutas      True
Legumes     True
dtype: bool

In [91]:
# Visualização series01
print(f'\nSeries 01: \n\n{series01}','\n')

# Visualização series02
print(f'\nSeries 02: \n\n{series02}','\n')

# Obtendo os elementos na series01 contidos na series02
print(f'\nOs elementos em Comum de 01 em 02: \n\n{series01[series01.isin(series02)]}')

Series 01:

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64


Series 02:

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64


Os elementos em Comum de 01 em 02:

Salada     2
Frutas     3
Legumes    2
dtype: int64

In [93]:
# Visualização series01
print(f'\nSeries 01: \n\n{series01}','\n')

# Visualização series02
print(f'\nSeries 02: \n\n{series02}','\n')

# Obtendo somente os valores na series01 contidos na series02
print(f'\nOs Valores em Comum de 01 em 02: \n\n{series01[series01.isin(series02)].values}')

Series 01:

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64


Series 02:

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64


Os Valores em Comum de 01 em 02:

[2 3 2]

In [96]:
# Visualização series01
print(f'\nSeries 01: \n\n{series01}','\n')

# Visualização series02
print(f'\nSeries 02: \n\n{series02}','\n')

# 1º Obter os índices na series01 contidos na series02
print(f'\nOs índices em Comum são: \n\n{series01[series01.index.isin(series02.index)]}')

Series 01:

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64


Series 02:

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64


Os índices em Comum são:

Salada     2
Frutas     3
Legumes    2
dtype: int64

In [98]:
# Visualização series01
print(f'\nSeries 01: \n\n{series01}','\n')

# Visualização series02
print(f'\nSeries 02: \n\n{series02}','\n')

# 2º Obter os índices na series01 contidos na series02
print(f'\nOs índices em Comum são: \n\n{series01[series01.index.isin(series02.index)].index}')

Series 01:

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64


Series 02:

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64


Os índices em Comum são:

Index(['Salada', 'Frutas', 'Legumes'], dtype='object')

## ``Novo índice``, ``Novo Elemento`` na Series Pandas

In [71]:
# Visualização series01
print(series01,'\n')


# Inserindo Novo Índice e Novo Elemento/Valor em series01
series01['Legumes'] = 2
print(series01)

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64

In [73]:
# Visualização series02
print(series02,'\n')


# Inserindo Novo Índice e Novo Elemento/Valor series02
series02['Legumes'] = 2
print(series02)

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64

## ``Concatenação`` de Series Pandas

In [101]:
# Visualização series01
print(f'\nSeries 01: \n\n{series01}','\n')

# Visualização series02
print(f'\nSeries 02: \n\n{series02}','\n')

# Concatenando series01 e series02 na Vertical
pd.concat([series01,series02], axis=1)

Series 01:

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64


Series 02:

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64

           0    1
Carne    1.0  NaN
Salada   2.0  3.0
Frutas   3.0  4.0
Legumes  2.0  2.0
Ovo      NaN  2.0

In [102]:
# Visualização series01
print(f'\nSeries 01: \n\n{series01}','\n')

# Visualização series02
print(f'\nSeries 02: \n\n{series02}','\n')

# Concatenando series01 e series02 na Horizontal
pd.concat([series01,series02], axis=0)

Series 01:

Carne      1
Salada     2
Frutas     3
Legumes    2
dtype: int64


Series 02:

Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64

Carne      1
Salada     2
Frutas     3
Legumes    2
Ovo        2
Salada     3
Frutas     4
Legumes    2
dtype: int64