In [2]:
import pandas as pd
possible_categories = list('abc')
cat = pd.Series(list('aba'))
cat = cat.astype(pd.CategoricalDtype(categories=possible_categories))
pd.get_dummies(cat)

   a  b  c
0  1  0  0
1  0  1  0
2  1  0  0

In [3]:
import pandas as pd

In [4]:
possible_categories = list('abc')
possible_categories

['a', 'b', 'c']

In [5]:
cat = pd.Series(list('abad'))
cat

0    a
1    b
2    a
3    d
dtype: object

In [6]:
cat = cat.astype(pd.CategoricalDtype(categories=possible_categories))
cat

0      a
1      b
2      a
3    NaN
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [7]:
pd.get_dummies(cat)

   a  b  c
0  1  0  0
1  0  1  0
2  1  0  0
3  0  0  0